<%= form_for(@exclusion) do |f| %>
  <% if @exclusion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exclusion.errors.count, "error") %> prohibited this exclusion from being saved:</h2>

      <ul>
      <% @exclusion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label for="exclusion[person_one_id]">First Person</label>
    <%= f.collection_select :person_one_id, Person.order(:name), :id, :name %>
    <br />
    <label for="exclusion[person_two_id]">Second Person</label>
    <%= f.collection_select :person_two_id, Person.order(:name), :id, :name %>
    <br />
    <label for="exclusion[reason]">Reason for Exclusion</label>
    <%= f.text_field :reason %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
