<h1>Listing Exclusions</h1>

<table>
  <thead>
    <tr>
      <th> Person One </th>
      <th> Person Two </th>
      <th> Exclusion Reason </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exclusions.each do |exclusion| %>
      <tr>
        <td><%= exclusion.person_one.name %></td>
        <td><%= exclusion.person_two.name %></td>
        <td><%= exclusion.reason          %></td>
        <td><%= link_to 'Destroy', exclusion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exclusion', new_exclusion_path %>
