<!DOCTYPE html>
<html>
<head>
  <title>SaturnaliaRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to "Dashboard", "/"              %></li>
    <li><%= link_to "People",     people_path     %></li>
    <li><%= link_to "Exclusions", exclusions_path %></li>
    <li><%= link_to "Pairs",      pairs_path      %></li>
    <li><%= link_to "Spin The Wheel!", ""         %></li>
  </ul>

<%= yield %>

</body>
</html>
